#servidor
PORT=3000
NODE_ENV=development
#banco de dados
MONGODB_URI=mongodb://mongo:27017/pokedex_db
# API publica
POKEAPI_BASE_URL=https://pokeapi.co/api/v2
# JWT - autenticacao
JWT_SECRET= insira_senha